<div id="instructionNav" class="btn-group">
 <a href="#inHome" class="btn btn-default" role="button">Top of Page</a> 
  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#spacing">Spacing</a></li>
    <li><a href="#semicolons">Semicolons</a></li>
    <li><a href="#commas">Commas</a></li>
    <li><a href="#comparison">Comparison Operators</a></li>
    <li><a href="#block">Code Blocks</a></li>
    <li><a href="#case">Camel Case</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#linter">Linter</a></li>
    <li><a href="#profile">Profile</a></li>
  </ul>
</div>