<!doctype html>
<html>
    <head>
        <title>Test The JavaScript!</title>
        
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> 
        <link rel="stylesheet" href="jedsstyle.css">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="./addon/docs.css">
        <link rel="stylesheet" href="./addon/codemirror.css">
        <link rel="stylesheet" href="./addon/lint.css">

        <script src="./addon/codemirror.js"></script>
        <script src="./addon/javascript.js"></script>
        <script src="./addon/css.js"></script>
        <script src="//ajax.aspnetcdn.com/ajax/jshint/r07/jshint.js"></script>
        <script src="https://rawgithub.com/zaach/jsonlint/79b553fb65c192add9066da64043458981b3972b/lib/jsonlint.js"></script>
        <script src="https://rawgithub.com/stubbornella/csslint/master/release/csslint.js"></script>
        <script src="./addon/lint.js"></script>
        <script src="./addon/javascript-lint.js"></script>
        <script src="./addon/json-lint.js"></script>
        <script src="./addon/css-lint.js"></script>
    </head>

    <body>
        <div>
            <% include ./partials/navbar.ejs %>
        </div>

        <div class="container">
            <div id="exerciseBox"></div>

            <div id="my-app"></div> 

            <button type='button' id='hint-button' class='btn btn-lg btn-danger' data-toggle='popover' title='Hint' data-content='Heres a hint: '>Hint</button>
        </div>
            
        <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
        <script>$(function () {
            $('[data-toggle="popover"]').popover()
            })</script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/1.1.1/js/md5.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
        <script src="./static/index.js"></script>
    </body>

</html>