<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Team Page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    
  </head>
  
  <body>
  <% include ./partials/navbar.ejs %>
  <div class="jumbotron">
    <h1>Team Mongoose</h1>
  </div>
  <div class="row">
    <div class="col-sx-6 col-md-3">
      <div class="thumbnail">
        <img src="imgs/edsProfile.gif" alt="Wing Command">
        <div class="caption">
          <h3>Boolean False</h3>
          <p>...</p>
        </div>
      </div>
    </div>

    <div class="col-sx-6 col-md-3">
      <div class="thumbnail">
        <img src="imgs/kellysProfile.gif" alt="...">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
        </div>
      </div>
    </div>

    <div class="col-sx-6 col-md-3">
      <div class="thumbnail">
        <img src="/imgs/trevorsProfile.gif" alt="...">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
        </div>
      </div>
    </div>

    <div class="col-sx-6 col-md-3">
      <div class="thumbnail">
        <img src="/imgs/travisProfile.gif" alt="...">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
        </div>
      </div>
    </div>
  </div>
  
<!-- ^^^^^^^^^^^^^^^^^^^^^Links and style ^^^^^^^^^^^^^^^^^^^^^^^-->  

    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/1.1.1/js/md5.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
  </body>
</html>