body {
  background-color: black;
}
.panel {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
}
.panel-body h5 {
  text-decoration: underline;
}
.panel-body p {
  text-indent: 50pxß;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 1em;
}
.exerciseName {
  text-align: center;
}
.exerciseBox {
  max-width: 30%;
}
.modal {
  width:100%;
  height:100%;
  background: rgba(000, 000, 000, 0.8); 
  min-height:1000000px;
}

.navbar {
  background-color: tomato;
  margin-bottom: 0;
}
.navbar-brand{
  font-size: 30px;
}

.jumbotron {
  text-align: center;
  margin-top: 0;
  background-color: turquoise;
}
#instructionNav {
  float: right;
}
#hint-button {
  margin: 10px;
}
#home-title {
  text-align: center;
}
#jslogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}